########################
# NODE
########################

node_modules
npm-debug.log
**/logs/**


########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/tmp/**

########################
# docs / tests
########################
doc
report.xml
test/testConfig.js

########################
# local config
########################
.jenkins.conf
debug*